div.container.bs-docs-container
{
    margin-top: 80px;
    position: relative;
}


tbody tr td.hiddenRow{
	border: none;
    padding: 0;
}

tr.accordion-toggle{
	cursor: pointer;	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.declineorder-btn{
	margin-top: 10px;
	margin-right: 10px; 
	
}

.acceptorder-btn{
	margin-top: 10px;
	margin-right: 10px; 
}

.contactcustomer-btn{
	margin-top: 10px;
	margin-right: 10px; 
}

.custom-th-order{
	width: 30%;
}

.custom-td-name{
	width: 40% !important;
}

.custom-td-type{
	width: 15%;	
}

.custom-td-format{
	width: 15%;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    overflow: hidden;
}
.bs-callout h3 {
    margin-top: -10px;
    margin-bottom: 5px;
}

.bs-callout h4 {
    margin-top: 20px;
}

.bs-callout h5 {
    margin-left: 20px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h3 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h3 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h3 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h3 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h3 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h3 {
    color: #5bc0de;
}

/*******************
        CART
********************/

div.shopping-cart{
    margin-top: 10px;
    position: fixed;
    top: 0;
    width: 300px;
    z-index: 1;
}

div.shopping-cart a{
    cursor: pointer;
}

div.shopping-cart div.panel-heading{
    padding: 0;
}

div.shopping-cart div.panel-body{
    max-height: 200px;
    overflow-y: auto;
}

div.shopping-cart div.panel-heading a{
    display: block;
    padding: 10px 15px;
}