/* Table of Content
==================================================
	# HEADER
	# PRODUCT INFOMATION FLOW
	# - type
	# - format
	# - brug
	# - upload fil
	# FOOTER
	# CONTACT DIRECT
	# SHOPPING CART
	*/

/* # HEADER
================================================== */
	
	header.primary{
		padding: 16px 0;
	}

	header.primary h1.logo{
		margin: 0;
		padding: 0;
	}

	header.primary h1.logo a{
		background: url(../images/logo.png) no-repeat;
		color: transparent;
		display:block;
		font: 0/0 a;
		height:104px;
		margin:0;
		padding:0;
		text-shadow: none;
		width:259px;
	}


/* # PRODUCT INFOMATION FLOW
================================================== */
	
	div.band.product-information header.flow-overview{
		position: relative;
		overflow: hidden;
		padding: 16px;
	}

	div.band.product-information header.flow-overview hr{
		display: block;
		position: absolute;
		border: #337ab7 4px solid;
		margin: 22px 0;
		width: 100%;
	}

	div.band.product-information header.flow-overview > div{
		text-align: center;
	}

	div.band.product-information header.flow-overview > div a{
		cursor: pointer;
		background-color: #fff;
		border: #337ab7 4px solid;
		border-radius: 100px;
		display: inline-block;
		padding: 12px;
		text-decoration: none;
		width: 100px;
		-webkit-transition: all ease-out 0.2s;
		-moz-transition: all ease-out 0.2s;
		-o-transition: all ease-out 0.2s;
		transition: all ease-out 0.2s;
	}

	div.band.product-information header.flow-overview > div a.focus{
		background-color: #337ab7;
		color: #fff;
		font-weight: bold;
	}

	div.band.product-information div.product-flow div.steps{
		position: relative;
		height: 500px;
	}

	div.band.product-information div.product-flow div.steps div.step{
		position: absolute;
		height: 400px;
		opacity: 0;
		width: 100%;
		z-index: -1;
		-webkit-transition: all ease-out 0.2s;
		-moz-transition: all ease-out 0.2s;
		-o-transition: all ease-out 0.2s;
		transition: all ease-out 0.2s;
	}

	div.band.product-information div.product-flow div.steps div.step.show{
		opacity: 1;
		z-index: 1;
	}

	div.band.product-information footer{
		position: relative;
	}

	div.band.product-information footer button{
		position: relative;
		opacity: 1;
		-webkit-transition: all ease-out 0.2s;
		-moz-transition: all ease-out 0.2s;
		-o-transition: all ease-out 0.2s;
		transition: all ease-out 0.2s;
	}

	div.band.product-information footer button[data-flow-action="add-to-cart"]{
		display: block;
		margin: 0 auto;
	}

	div.band.product-information[data-show-step-no="1"] footer button[data-flow-action="back"]{
		opacity: 0;
		z-index: -1;
	}

	div.band.product-information[data-show-step-no="4"] footer button[data-flow-action="next"]{
		opacity: 0;
		z-index: -1;
	}

	/* # - type
	================================================== */

	.img-rounded {
		height: 120px;
		width: 120px;
		border-radius: 6px;
	}

	.selected {
		border: solid 2px blue;
	}

	/* # - format
	================================================== */
		div.size div.other{
			padding-top: 12px;
			padding-bottom: 12px;

		}

		div.size div.other input{
			width: 80px;
			display: inline-block;
		}
		
		div.size.hide-other div.other{
			opacity: 0;
			z-index: -1;
		}

	/* # - brug
	================================================== */
		.panel-body.ind{
			position: relative;
			height: 160px;
		}
		
		.panel-body.ud{
			position: relative;
			height: 160px;
		}
		
		.row.product{
			opacity: 0;
			z-index: -1;
			position: absolute;
		}
		
		div.steps[data-product="Poster"] div.row.product.ind.poster,
		div.steps[data-product="Poster"] div.row.product.ud.poster,
		div.steps[data-product="Roll-up"] div.row.product.ind.roll-up,
		div.steps[data-product="Roll-up"] div.row.product.ud.roll-up,
		div.steps[data-product="Andet"] div.row.product.ind.banner,
		div.steps[data-product="Andet"] div.row.product.ud.banner{
			opacity: 1;
            z-index: 1;
		}
	

	/* # - upload fil
	================================================== */
		.cropping-modal h2{
			margin-top: 0; 
		}


/* # FOOTER
================================================== */
	
	div.band.footer{
		padding: 32px 0;
	}

	div.right-side-bar{
		position: relative;
	}

	div.right-side-bar aside{
		display: block;
		position: fixed;

		top:60px;
		width: 100%; 
	}


/* # CONTACT DIRECT
================================================== */
	
	aside.contact-direct{
		top: 50px;
	}

	section.contact-form{
		width: 300px;
	}


/* # SHOPPING CART
================================================== */
	
	div#shopping-cart{
		border-bottom: 1px solid #ddd;
	}

	aside.shopping-cart{
		top: 300px;
	}	

	div.shopping-cart{
			width: 300px;
	}

	div.shopping-cart a{
		cursor: pointer;
	}

	div.shopping-cart div.panel-heading{
		padding: 0;
	}

	div.shopping-cart div.panel-body{
		max-height: 400px;
		overflow-y: auto;
	}

	div.shopping-cart div.panel-heading a{
		display: block;
		padding: 10px 15px;
	}

	div.shopping-cart button.custom-btn{
		margin: 5px;
	}

	div.panel{
		overflow: hidden;
	}
	
