/* Table of Content
==================================================
	# HEADER
	# PRODUCT INFOMATION FLOW
	# - type
	# - format
	# - brug
	# - upload fil
	# FOOTER
	# CONTACT DIRECT
	# SHOPPING CART
	*/

/* # HEADER
================================================== */
	
	header.primary{
		padding: 16px 0;
	}

	header.primary h1.logo{
		margin: 0;
		padding: 0;
	}

	header.primary h1.logo a{
		background: url(../images/logo.png) no-repeat;
		color: transparent;
		display:block;
		font: 0/0 a;
		height:104px;
		margin:0;
		padding:0;
		text-shadow: none;
		width:259px;
	}


/* # PRODUCT INFOMATION FLOW
================================================== */
	
	div.band.product-information header.flow-overview{
		position: relative;
		overflow: hidden;
		padding: 16px;
	}

	div.band.product-information header.flow-overview hr{
		display: block;
		position: absolute;
		border: #337ab7 4px solid;
		margin: 22px 0;
		width: 100%;
	}

	div.band.product-information header.flow-overview > div{
		text-align: center;
	}

	div.band.product-information header.flow-overview > div a{
		cursor: pointer;
		background-color: #fff;
		border: #337ab7 4px solid;
		border-radius: 100px;
		display: inline-block;
		padding: 12px;
		text-decoration: none;
		width: 100px;
		-webkit-transition: all ease-out 0.2s;
		-moz-transition: all ease-out 0.2s;
		-o-transition: all ease-out 0.2s;
		transition: all ease-out 0.2s;
	}

	div.band.product-information header.flow-overview > div a.focus{
		background-color: #337ab7;
		color: #fff;
		font-weight: bold;
	}

	div.band.product-information div.product-flow div.steps{
		position: relative;
		height: 600px;
	}

	div.band.product-information div.product-flow div.steps div.step{
		position: absolute;
		height: 400px;
		opacity: 0;
		width: 100%;
		z-index: -1;
		-webkit-transition: all ease-out 0.2s;
		-moz-transition: all ease-out 0.2s;
		-o-transition: all ease-out 0.2s;
		transition: all ease-out 0.2s;
	}

	div.band.product-information div.product-flow div.steps div.step.show{
		opacity: 1;
		z-index: 1;
	}

	div.band.product-information footer{
		position: relative;
	}

	div.band.product-information footer button{
		position: relative;
		opacity: 1;
		-webkit-transition: all ease-out 0.2s;
		-moz-transition: all ease-out 0.2s;
		-o-transition: all ease-out 0.2s;
		transition: all ease-out 0.2s;
	}

	div.band.product-information footer button[data-flow-action="add-to-cart"]{
		display: block;
		margin: 0 auto;
	}

	div.band.product-information[data-show-step-no="1"] footer button[data-flow-action="back"]{
		opacity: 0;
		z-index: -1;
	}

	div.band.product-information[data-show-step-no="4"] footer button[data-flow-action="next"]{
		opacity: 0;
		z-index: -1;
	}

	/* # - type
	================================================== */

	div.produktTab div.products div.product input{
		display: none;
	}
	div.produktTab div.products div.product img{
		max-width: 100%;
		border-radius: 6px;
	}

	.selected {
		border: solid 2px blue;
	}

	/* # - format
	================================================== */
		.row.parent_format{
			position: relative;
			padding-bottom: 135px;
		}
		
		.row.format{
			opacity: 0;
			z-index: -1;
			position: absolute;
		}
		
		div.steps[data-product="Poster"] div.row.format.poster,
		div.steps[data-product="Roll-up"] div.row.format.roll-up,
		div.steps[data-product="Andet"] div.row.format.banner{
			opacity: 1;
            z-index: 1;
		}
		
		div.size div.other{
			padding-top: 12px;
			padding-bottom: 12px;

		}

		div.size div.other input{
			width: 80px;
			display: inline-block;
		}
		
		div.size.hide-other div.other{
			opacity: 0;
			z-index: -1;
		}

	/* # - brug
	================================================== */
		.panel-body.ind{
			position: relative;
			height: 160px;
		}
		
		.panel-body.ud{
			position: relative;
			height: 160px;
		}
		
		.row.product{
			opacity: 0;
			z-index: -1;
			position: absolute;
		}
		
		div.steps[data-product="Poster"] div.row.product.poster,
		div.steps[data-product="Roll-up"] div.row.product.roll-up,
		div.steps[data-product="Andet"] div.row.product.banner{
			opacity: 1;
            z-index: 1;
		}

		div.usage-collapse div.panel-heading{
			padding: 0;
		}

		div.usage-collapse div.panel-heading label{
			display: block;
			padding: 10px 15px;
			text-decoration: none;
			margin: 0;
		}

	/* # - upload fil
	================================================== */

		.step.step-4 input[type="file"]{
			display: none;
		}

		.cropping-modal h2{
			margin-top: 0; 
		}

		div.file-upload-preview{
			overflow: hidden;
			overflow-y: auto;
			height: 240px;
		}

		div.file-upload-preview div.row{
			margin-top: 24px;
		}

		div.file-upload-preview img{
			max-width: 100%;
			max-height: 130px;
		}

		div.upload-progress div.processing{
			display: none;
		}

		div.upload-progress.processing div.processing{
			display: block;
		}

		div.upload-progress .progress-bar{
			-webkit-transition: width 8s; /* Safari */
			transition: width 8s;

			width: 0%;
		}

		div.upload-progress.processing .progress-bar{
			display: none;
		}


/* # FOOTER
================================================== */
	
	div.band.footer{
		padding: 32px 0;
	}

	div.right-side-bar{
		position: relative;
	}

	div.right-side-bar aside{
		display: block;
		position: fixed;

		top:60px;
		width: 100%; 
	}


/* # CONTACT DIRECT
================================================== */
	
	aside.contact-direct{
		top: 50px;
	}

	section.contact-form{
		width: 350px;
	}

	div.contact-form a{
		cursor: pointer;
	}

	div.contact-form div.panel-heading{
		padding: 0;
	}

	div.contact-form div.panel-heading a{
		display: block;
		padding: 10px 15px;
		text-decoration: none;
	}


/* # SHOPPING CART
================================================== */
	
	div#shopping-cart{
		border-bottom: 1px solid #ddd;
	}

	aside.shopping-cart{
		top: 300px;
	}	

	div.shopping-cart{
		width: 350px;
	}

	div.shopping-cart a{
		cursor: pointer;
	}

	div.shopping-cart div.panel-heading{
		padding: 0;
	}

	div.shopping-cart div.panel-body{
		max-height: 400px;
		overflow-y: auto;
	}

	div.shopping-cart div.panel-heading a{
		display: block;
		padding: 10px 15px;
	}

	div.shopping-cart button.custom-btn{
		margin: 5px 15px;
	}

	div.panel{
		overflow: hidden;
	}

/* # NGInterface
================================================== */
	
	div.panel-group div.panel-default > div.panel-heading{
		padding: 0;
		cursor: pointer;
	}

	div.panel-group div.panel-default > div.panel-heading a{
		display: block;
		padding: 10px 15px;
		text-decoration: none;
	}

	div.panel-group.pending div.panel-default > div.panel-heading{
		background-color: #fcf8e3;
	}

	div.panel-group.accepted div.panel-default > div.panel-heading{
		background-color: #dff0d8;
	}

	div.panel-group.declined div.panel-default > div.panel-heading{
		background-color: #f2dede;
	}

	.declineorder-btn{
	margin-top: 10px;
	margin-right: 10px; 
	}

	.acceptorder-btn{
		margin-top: 10px;
		margin-right: 10px; 
	}

	.finishorder-btn{
		margin-top: 10px;
		margin-right: 10px; 
	}

	.contactcustomer-btn{
		margin-top: 10px;
		margin-right: 10px; 
	}