.tab-pane{
	height: 550px;
	overflow: auto;
	padding: 25px;
	overflow-x: none;
	border-bottom: solid #ddd 1px; 
}

.tab-pane#upload img {
	max-width: 100%;
}

.tab-pane .produktTab img{
	height: 120px;
	width: 120px;	
}

#kommentar{
	margin-top: 20px;
	margin-bottom: 25px;
}

#antaldato{
	margin-bottom: 20px;
}

#antal{
	margin-right: 20px;
}

#send{
	margin-bottom: 20px;
}
